<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="controller" />
	<!-- 对模型视图名称的解析，在请求时模型视图名称添加前后缀 -->

	<!-- <bean id="viewResolver" -->
	<!-- class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"> -->
	<!-- <property name="suffix"> -->
	<!-- <value>.ftl</value> -->
	<!-- </property> -->
	<!-- <property name="contentType" value="text/html;charset=UTF-8"></property> -->
	<!-- </bean> -->

	<!-- <bean name="HelloAction" class="wx.AirMachineController" /> -->
	<!-- <bean id="urlMapping" -->
	<!-- class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"> -->
	<!-- <property name="mappings"> -->
	<!-- <props> -->
	<!-- 映射URL地址 -->
	<!-- <prop key="/airlist.do">HelloAction</prop> -->
	<!-- </props> -->
	<!-- </property> -->
</beans>


